
@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Mea+Culpa&family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mea+Culpa&family=Pinyon+Script&display=swap');
*{
    margin: 0;
    padding: 0;
    
}
img{
    height: 150px;
    width: 150px;
    border-radius: 100px;
    box-shadow: 2px 2px 5px rgb(51, 153, 17);
}
body{
    height: 100vh;
    width: 100vw;
}
.container_1{
    display: flex;
    justify-content: center;
}
.card{
    margin-top: 20px;
    box-shadow: 2px 2px 5px grey;
    width: 200px;
    text-align: center;
    font-family: "Delius Swash Caps", cursive;
    font-weight: 400;
    font-style: normal;
}
.container{
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    gap: 76px;
    justify-content: flex-start; // no need flex will automatically do it.
}
.main{
    text-align: center;
    font-family: "Mea Culpa", cursive;
    font-weight: 400;
    font-style: normal;
}
